kind: Pod
apiVersion: v1
metadata:
  name: test-pod
spec:
  containers:
  - image: busybox
    command: ["sleep", "99999999"]
    name: test-container
    imagePullPolicy: IfNotPresent
    volumeMounts:
    - mountPath: /test-pv
      name: test-pv-storage
  volumes:
    - name: test-pv-storage
      persistentVolumeClaim:
        claimName: qsan-csi-pvc
