apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qsan-csi-pvc-block2
spec:
  volumeMode: Block
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 12Gi
  storageClassName: qsan-xevo-storage
